<header class="header">
    <a routerLink="">
        <h1>Lojinha do dridri</h1>
    </a>
    <div>
        <a routerLink="carrinho"><img src="/assets/carrinho-de-compras.svg" alt="Carrinho"> <strong> Meu
                carrinho</strong></a>
    </div>
</header>