.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #0336ff;
}

.header a{
    text-transform: none;
    text-decoration: none;
    color: white;
}

a:last-child{
    margin-right: 1rem;
}
span:first-child{
    margin-left:1rem;
}

.header > div > a > img{
    height: 1.8rem;
}