#page-card{
    width: 100vw;
    height: 100vh;
}

main{
    margin: 3.2rem auto;
    width: 90%;
}

/* @media(min-width:700px){
    #page-card{max-width: 100%;}
    #page-card main {
        max-width: 740px;
        margin: 0 auto;
    }
} */
