<div *ngIf="cart" id="page-cart">
    <h2>Carrinho de compras</h2>
    <main>
        <div *ngFor="let prod of cart.productItens" class="card-cart">
            <img [src]="prod.product.urlImage" alt="Logo" class="logoProd" width="50" height="50">
            <span class="nameProd">{{prod.product.name}}</span>
            <span class="price">{{cart.totalPrice | currency:'BRL'}}</span>
        </div>
    </main>
</div>