#page-cart{
    color: black;
    width: 100vw;
    
}

.card-cart{
    border-top: solid 1px #DDD;
    display: grid;
    grid-template-areas: 
                        "logo Nome Preco"
                        "logo Nome Quantidade";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    margin: 0 auto;
    max-width: 740px;
    padding: 30px;
    background-color: white;
}

.logoProd{
    grid-area: logo;
}

.nameProd{
    grid-area: Nome;
}
.price{
    grid-area: Preco;
}
