.card{
    color: black;
    margin-top: 1.2rem;
    display: grid;
    grid-template-areas: 
                        "logo Nome Nome Botao"
                        "logo Descricao Preco Botao";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    height: 25vh;
    overflow-x: auto;
    border-radius: 0.8rem;
    background-color: white;
    border:1px black solid;
}

.card img{
    grid-area: logo;
    width: 3.1rem;
    height: 3.1rem;
}
.nome-produto{
    grid-area: Nome;
}

.card p{
    grid-area: Descricao;
    
}

.card button{
    grid-area: Botao;
    font-size: 1rem;
    text-align: center;
    background-color: #03DAC6;
    border-radius: 0.6rem;
    padding: 0.6rem;
    border: none;
    box-shadow: 5px 5px 10px #888888;
    cursor: pointer;
}

.preco-produto{
    grid-area: Preco;
}