<article class="card" *ngFor="let produto of produtos">
    <img [src]="produto.urlImage" alt="Logo produto">
    <span class="nome-produto">{{produto.name}}</span>
    <p>{{produto.description}}</p>
    <span class="preco-produto">{{produto.price | currency:'BRL'}}</span>
    <button (click)="adicionarCarrinho(produto)">
        <span class="material-icons">
            add_shopping_cart
        </span>Adicionar
    </button>
</article>