*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    background-color: #F0F0F7;
    color: white;
}

.container{
    width: 90vw;
    max-width: 700px;
}

body,
input,
textarea,
button{
    font:500 1.6rem Roboto;
}